@font-face {
    font-family: "dangamAsac";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/dangamAsac/dangamAsac.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/dangamAsac/dangamAsac.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/dangamAsac/dangamAsac.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/dangamAsac/dangamAsac.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/dangamAsac/dangamAsac.ttf") format("truetype");
    font-display: swap;
} 
.dangamAsac {
    font-family: "dangamAsac";
}